body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3b4a54;
  height: 100vh;
}

#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main {
  background-color: #2c3d49;
  width: 100%;
  height: 90%;
  border-radius: 20px;
  display: flex;
}

.users {
  height: 100%;
  width: 30%;
  background-color: aliceblue;
  border-radius: 20px 0px 0px 20px;

}

h1 {
  margin: 0;
  padding: 0;
}


.chat {
  height: 100%;
  width: 80%;
}

.user {
  width: 100%;
  height: 50px;
  color: black;
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

.user img {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.user .message {
  width: 65%;
}

.circle_green {
  background-color: #2c3d49;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 100%;
}

.separator {
  width: 90%;
  height: 2px;
  background-color: grey;
  border-radius: 30px;
}

.container_separator {
  display: flex;
  justify-content: center;
}

.container_main{
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
}

.container_search_user{
  height: 10%;
  width: 100%;
  background-color: #2c3d49;
  display: flex;
}
.search_user{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search_user input{
  border: 1px solid white;
  background-color: transparent;
  width: 60%;
  height:40%;
  border-radius: 30px;
  padding: 10px;
  color: white;
}

::placeholder {
  color: white;
  opacity: 0.7;
}
.show_users{
  height: 40%;
  width: 30%;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  overflow-y: auto;
}
.box_search_user{
  width: 70%;
}
.user .container_name_nmb_msg{
  width: 90%;
  display: flex;
  align-items: center;

}
.container_name_nmb_msg .name{
  width: 70%;
}
.container_name_msg{
  width: 70%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.container_name_msg .name{
  font-weight: 800;
}
.container_name_msg p{
  font-style: mont;
  margin: 0;
}